/* Resets and Basic settings
 * Johannes Raggam
 *
 * Based on Less Framework by Joni Korpi
 * http://lessframework.com
 * and
 * Article "Compose to a Vertical Rhythm" by Richard Rutter
 * http://24ways.org/2006/compose-to-a-vertical-rhythm
 */

/* Resets */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
	display: block;
}

a img {border: 0;}

figure {position: relative;}
figure img {width: 100%;}


/* Typography presets */

.gigantic {
	font-size: 110px;
	line-height: 120px;
	letter-spacing: -2px;
}

.huge, h1 {
	font-size: 68px;
	line-height: 72px;
	letter-spacing: -1px;
}

.large, h2 {
	font-size: 42px;
	line-height: 48px;
}

.big, h3 {
	font-size: 26px;
	line-height: 36px;
}

.normal, body {
	font: 16px/24px Helvetica, Arial, sans-serif;
}

.small {
	font-size: 13px;
	line-height: 18px;
}

/* helpers */
.clear {clear:both;}
.marginT6 = { margin-top:6px; }
.marginL6 = { margin-left:6px; }
.marginB6 = { margin-bottom:6px; }
.marginR6 = { margin-right:6px; }

/* font def */
/*
 * http://24ways.org/2006/compose-to-a-vertical-rhythm
 */
body {
font-size: 75%;
}
html>body {
font-size: 12px;
}
p {
line-height 1.5em;
font-size:1em;
margin-top: 1.5em;
margin-bottom: 1.5em;
}

h1 {
font-size:1.6em;
line-height: 1em;
margin-top: 0;
margin-bottom: 1em;
text-transform:uppercase;
}
h2 {
font-size:1.4em;
line-height: 1.286em;
margin-top: 1.929em;
margin-bottom: 0.643em;
text-transform:uppercase;
}


