/* the helsinki grid system,
 * by Johannes Raggam
 * based on lessframework.com by Joni Korpo */


/* using 24 as baseline, the golden ratio (factor 1.62) sequence is
 *
>>> gr = [24,]
>>> [gr.insert(0,int(round(gr[0]/1.62))) for cnt in range(1,7)]
>>> [gr.append(int(round(gr[-1]*1.62))) for cnt in range(1,11)]
>>> gr
[1, 2, 4, 6, 9, 15, 24, 39, 63, 102, 165, 267, 433, 701, 1136, 1840, 2981]
 *
 * using 63 as base grid width and 12 (24/2) as gutter width, we get these
 * columns:
>>> [n*63+(n-1)*12 for n in range(1,16)]
[63, 138, 213, 288, 363, 438, 513, 588, 663, 738, 813, 888, 963, 1038, 1113]
 1   2    3    4    5    6    7    8    9    10   11   12   13   14    15
 *
 */

/* default layout, 13 columns */
body {
	background: white;
	padding: 0px 63px 0;
	width: 963px;
	-webkit-tap-highlight-color: rgb(255,255,0);
}

::selection 	 	{background: rgb(255,255,0);}
::-moz-selection 	{background: rgb(255,255,0);}
img::selection 		{background: transparent;}
img::-moz-selection {background: transparent;}


