body { font-size: 75%; }
html>body { font-size: 12px; }
p {
    line-height 1.5em;
    font-size:1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em; }

h1 {
    font-size:1.6em;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 1em;
    text-transform:uppercase; }
h2 {
    font-size:1.4em;
    line-height: 1.286em;
    margin-top: 1.929em;
    margin-bottom: 0.643em;
    text-transform:uppercase; }

body {
	background: white;
	padding: 0px 63px 0;
	width: 960px;
    margin: 0 auto; 
    font-family:sans-serif;
    line-height: 1.4em; 
	-webkit-tap-highlight-color: rgb(255,255,0); }

a {
    text-decoration:underline;
    color:black; }

a:hover { color:red; }

::selection 	 	{background: #FBD62A;}
::-moz-selection 	{background: #FBD62A;}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
    background-color:#FFFFE0;
}

#lang a, #metamenu a, #logo a, #header a { text-decoration:none; }
#metamenu { height:24px; }
#metamenu a:hover { color:red; }
#lang { float:left; width:50%; }
#portal-siteactions { float:left; width:50%; text-align:right; }
#metamenu a {
    color:black;
    font-weight:bold;
    text-transform:uppercase; }
#metamenu #lang li { margin-left:6px; }
#metamenu #portal-siteactions li { margin-right:6px; }
#metamenu li,
#navigation li { display:inline; }

#logo {
    width:176px;
    height:176px;
    float:right;
    margin-left:6px; }
#header { width:778px; }
#toolbox {
    /* height:3px
     */
    width:772px;
    height:28px;
    background:black;
    padding:5px 0px 0px 6px;
    position:relative; }
#toolbox input { border:1px solid black; height:21px; }
#livestream,
#onair,
#searchbox {
    display:inline-block;
    margin-right:18px; }
#searchbox {
    position:absolute;
    top:5px;
    right:0px; 
    margin-right:6px;
    padding-left:20px;
    background:url(img/suche.png) no-repeat;
    background-position:left center; }
#searchbox:hover {
    background:url(img/suche-over.png) no-repeat;
    background-position:left center; }
#searchbox input { width:200px; }
#searchbox input.searchButton { display:none; }
#livestream a,
#onair a {
    color:white;
    font-weight:bold;
    text-transform:uppercase; }
#livestream {
    background:url(img/nowplay.png) no-repeat;
    background-position:left center;
    padding-left:20px; }
#livestream:hover {
    background:url(img/nowplay-over.png) no-repeat;
    background-position:left center; }
#onair {
    background:url(img/onair.png) no-repeat;
    background-position:left center;
    padding-left:13px; }
#onair:hover {
    background:url(img/onair-over.png) no-repeat;
    background-position:left center; }
#onair input { width:348px; }

#livestream a:hover,
#onair a:hover {
    color:#FBD62A; }

ul#navigation { 
    /*margin-bottom = 176-58-33-6=79px;
     * */
    position:relative;
    padding:0px;
    margin:6px 0px 79px 0px; }
ul#navigation > li {
    /* width = (778px - 2*6px) / 3 - 2*6px border
     * height = 58-2*6=46px
     */
    width:244px;
    height:36px;
    border:5px solid black;
    background:#FBD62A;
    display:inline-block;
    text-align:center;
    padding-top:8px; }

ul#navigation > li.navTreeCurrentNode,
ul#navigation > li.navTreeItemInPath,
ul#navigation > li:hover { border-color:#FBD62A; }
ul#navigation > li > a {
    color:black !important;
    font-weight:bold;
    font-size:28px;
    text-transform:uppercase;
    text-shadow:-3px 0px 0px #FBD62A,
        3px 0px 0px #FBD62A,
        0px -3px 0px #FBD62A,
        0px 3px 0px #FBD62A,
        -3px 3px 0px #FBD62A,
        3px -3px 0px #FBD62A,
        -3px -3px 0px #FBD62A,
        3px 3px 0px #FBD62A;
    /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow: 0 0 2 #FBD62A;
    -webkit-text-shadow: 0 0 2 #FBD62A;
    line-height:1em; }
ul#navigation > li.section-programm {
    background-image:url(img/str-quer-spiegel-gelb.png);
    margin-right:4px; }
ul#navigation > li.section-info {
    background-image:url(img/pkt3-gelb.png);
    margin-right:4px; }
ul#navigation > li.section-projekte {
    background-image:url(img/str-quer-gelb.png); }
ul#navigation > li.section-programm > a {
    background:url(img/radio1-real.png) no-repeat;
    background-position:left center;
    padding-left:49px !important; }
ul#navigation > li.section-info > a {
    background:url(img/radio2-real.png) no-repeat;
    background-position:left center;
    padding-left:65px !important;
    letter-spacing:0.05em; }
ul#navigation > li.section-projekte > a {
    background:url(img/radio3-real.png) no-repeat;
    background-position:left center;
    padding-left:55px !important; }
ul#navigation ul {
    /* margin-top=58+6
     * */
    position:absolute;
    top:64px;
    left:0px;
    margin:0px 0px 0px 12px;
    padding:0px 0px 0px 0px; }
ul#navigation ul { text-align:left; }
ul#navigation ul li { margin-right:0px; }
ul#navigation ul li:after { content:" /// "; }

ul#navigation ul li a {
    color:black !important;
    /*font-weight:bold;*/
    text-transform:uppercase; }
ul#navigation ul li a.navTreeCurrentItem, 
ul#navigation ul li a.navTreeItemInPath, 
ul#navigation ul li a:hover {
    /*color:#918F90;*/
    color:red !important; } 

#main {
    clear:both;
    position:relative;
    margin:6px 0 24px 0; }
#content-main, #column-1, #column-2 {
    float:left;
    margin-top:6px;
}
#content-main {
    position:relative;
    left:223px;
    width:551px;
    margin-right:10px; }
#column-1 {
    position:relative;
    left:-569px;
    width:213px;
    margin-right:10px; }
#column-2 { width:176px; }

#column-1 dl, #column-2 dl { margin: 0 0 10px 0; }
#column-1 a, #column-2 a { text-decoration:none; }
#column-1 dt, #column-2 dt { 
    font-weight:bold;
    text-transform:uppercase;
    text-align:center;
    line-height:1.4em; }
#column-1 dd, #column-2 dd { 
    font-size:95%;
}

#column-1 dl.portlet {
    background:url(img/pkt.png) repeat;
    padding:10px; }
#column-1 dl > * {
    display:block;
    height:100%;
    background:white; 
    padding:4px 6px 4px 6px; }

#column-2 dt, #column-2 dd { text-align:center; } 
#column-2 dt {
    background:url(img/str-vert.png);
    padding:10px; }
#column-2 dt > * {
    display:block;
    width:100%;
    height:100%;
    background:white;
}
