.portletTeaser dt { display:none; }
.portaltype-folder #column-main .parent-fieldname-title { display:none; }
.portaltype-folder #column-main .documentFirstHeading { display:none; }
.portaltype-topic #column-main .parent-fieldname-title { display:none; }
.portaltype-topic #column-main .documentFirstHeading { display:none; }
.portaltype-folderish-document #column-main .parent-fieldname-title { display:none; }
.portaltype-folderish-document #column-main .documentFirstHeading { display:none; }

body { font-size:75%; }
html>body { font-size:12px; }
body {
	background: white;
	padding:0px 63px 0;
	width:960px;
    margin:0 auto; 
    font-family:sans-serif;
    line-height:1.4em;
    word-wrap:break-word;
	-webkit-tap-highlight-color: rgb(255,255,0); }
::selection 	 	{background: #FBD62A;}
::-moz-selection 	{background: #FBD62A;}

.state-published {
    color:#636363 !important; }

p {
    line-height 1.5em;
    font-size:1em;
    margin-top: 1.5em;
    margin-bottom: 1.5em; }

h1 {
    font-size:1.6em;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 1em;
    text-transform:uppercase; }
h2 {
    font-size:1.4em;
    line-height: 1.286em;
    margin-top: 1.929em;
    margin-bottom: 0.643em;
    text-transform:uppercase; }
h3 {
    font-size:1.2em;
    line-height: 1.286em;
    margin-top: 1.929em;
    margin-bottom: 0.643em;
    text-transform:uppercase; }
h4 {
    font-size:1.1em;
    line-height: 1.286em;
    margin-top: 1.929em;
    margin-bottom: 0.643em;
    text-transform:uppercase; }

.documentDescription { font-weight:bold; }
.documentByLine { font-size:smaller; }


a { text-decoration:underline;
    color:#636363; }
#column-main a { font-weight:bold; }
a:hover,
#column-1 .navTreeCurrentItem, 
#column-1 .navTreeItemInPath { 
    /*color:red;*/
    color:black !important; }
#column-1 dt a, #column-2 dt a { color:black; }


.formTabs a:hover, #edit-bar a:hover, #toolbox a:hover {
    text-shadow:none;
    -moz-text-shadow:none;
    -webkit-text-shadow:none; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
textarea:hover
{ background-color:#EEE; }

/*.statePublished { color:black !important; }
a.statePublished { color:#636363 !important; }
a.statePublished:hover { color:black !important; }
*/

/* common horizontal lists */
#metamenu li,
#navigation li { display:inline; }


/* metamenu */
#lang a, #metamenu a, #logo a, #header a { text-decoration:none; }
#metamenu { height:24px; }
#metamenu a:hover, #metamenu .currentLanguage a { color:black; }
#lang { float:left; width:20%; }
#portal-siteactions { float:left; width:80%; text-align:right; }
#metamenu a {
    color:#636363;
    font-weight:bold;
    text-transform:uppercase; }
#metamenu #lang li { margin-left:6px; }
#metamenu #portal-siteactions li { margin-right:6px; }


/* toolbox */
#logo {
    width:176px;
    height:176px;
    float:right;
    margin-left:6px; }
#header { width:778px; }
#toolbox {
    /* height:3px
     */
    font-size:12px;
    width:772px;
    height:28px;
    background:black;
    padding:5px 0px 0px 6px;
    position:relative; }
#toolbox input { border:1px solid black; height:21px; }
#livestream,
#onair,
#searchbox {  display:inline-block; }
#livestream { margin-right:15px; }
#onair { margin-right:5px; }
#searchbox {
    position:absolute;
    top:5px;
    right:0px; 
    margin-right:6px;
    padding-left:20px;
    background:url(img/suche.png) no-repeat left center; }
#searchbox:hover {
    background-image:url(img/suche-over.png); }
#searchbox input { width:200px; }
#searchbox input.searchButton { display:none; }
#livestream a,
#onair a {
    color:white;
    font-weight:bold;
    text-transform:uppercase; }
#livestream {
    background:url(img/nowplay.png) no-repeat left center;
    padding-left:20px; }
#livestream:hover {
    background-image:url(img/nowplay-over.png); }
#onair {
    background:url(img/onair.png) no-repeat left center;
    padding-left:13px; }
#onair:hover {
    background-image:url(img/onair-over.png); }
#onair input { width:348px; }

#livestream a:hover,
#onair a:hover {
    color:#FBD62A !important; }


/* main navigation */

ul#navigation { 
    /*margin-bottom = 176-58-33-6=79px;
     * */
    z-index:1;
    position:relative;
    padding:0px;
    margin:6px 0px 79px 0px; }
ul#navigation > li {
    /* width = (778px - 2*6px) / 3 - 2*6px border
     * height = 58-2*6=46px
     */
    width:244px;
    height:42px;
    border:5px solid black;
    background:#FBD62A;
    /*display:inline-block;*/
    display:none; /* display only those, which are wanted */
    text-align:center;
    padding-top:2px; }
ul#navigation > li.section-programm,
ul#navigation > li.section-info,
ul#navigation > li.section-projekte { display:inline-block; }

ul#navigation > li.navTreeCurrentNode,
ul#navigation > li.navTreeItemInPath,
ul#navigation > li:hover { border-color:#FBD62A; }
ul#navigation > li > a {
    color:black !important;
    font-weight:bold;
    font-size:28px;
    text-transform:uppercase;
    line-height:41px; }
ul#navigation > li.section-programm {
    background-image:url(img/str-quer-spiegel-gelb.png);
    margin-right:4px; }
ul#navigation > li.section-info {
    background-image:url(img/pkt3-gelb.png);
    margin-right:4px; }
ul#navigation > li.section-projekte {
    background-image:url(img/str-quer-gelb.png); }
ul#navigation > li.section-programm > a {
    letter-spacing:-0.05em; 
    background:url(img/radio1-real.png) no-repeat left center;
    padding-left:49px !important; }
ul#navigation > li.section-info > a {
    background:url(img/radio2-real.png) no-repeat left center;
    padding-left:65px !important;
    letter-spacing:0em; }
ul#navigation > li.section-projekte > a {
    letter-spacing:-0.02em; 
    background:url(img/radio3-real.png) no-repeat left center;
    padding-left:55px !important; }
ul#navigation ul {
    /* margin-top=58+6
     * */
    position:absolute;
    top:64px;
    left:0px;
    margin:0px 0px 0px 20px;
    padding:0px 0px 0px 0px;
    width:700px;
    text-align:left; }
ul#navigation ul ul { top:20px; }
/* don't display menus from 5th level on */
ul#navigation ul ul ul ul { display:none; }
ul#navigation ul li { margin-right:0px; }
ul#navigation ul li:after { content:" /// "; }

ul#navigation ul li a {
    color:#636363 !important;
    /*font-weight:bold;*/
    text-transform:uppercase;
    line-height:1em;
    background:none !important;
    padding:0 !important; }
ul#navigation ul li a.navTreeCurrentItem, 
ul#navigation ul li a.navTreeItemInPath, 
ul#navigation ul li a:hover {
    /*color:#918F90;*/
    color:black !important; } 

/* project nav */
#column-1 .portletNavigationTree .navTreeTopNode { display:none; }
#column-1 .portletNavigationTree dt { display:none; }
#column-1 ul ul { margin-left:10px; }


/* layout */
#main {
    clear:both;
    /*position:relative;
    margin:6px 0 24px 0;*/ }
#column-main, #column-1, #column-2 {
    float:left;
    margin-top:12px; }
#column-main {
    position:relative;
    left:223px;
    width:551px;
    margin-right:10px; }
#column-1 {
    position:relative;
    left:-561px;
    width:213px;
    margin-right:10px; }
#column-2 { width:176px; }
#footer { clear:both; }

/* portlets */
#column-1, #column-2 { overflow:hidden; }
#column-1 dl, #column-2 dl { margin: 0 0 12px 0; }
#column-1 a, #column-2 a { text-decoration:none; }
#column-1 dt, #column-2 dt { 
    font-weight:bold;
    text-transform:uppercase;
    text-align:center;
    line-height:1.4em; }
#column-1 dd, #column-2 dd { font-size:95%; }

#column-1 dl.portlet {
    background:url(img/pkt.png) repeat;
    padding:10px; }
#column-1 dl > * {
    display:block;
    height:100%;
    background:white; 
    padding:4px 6px 4px 6px; }

#column-2 dt, #column-2 dd { text-align:center; } 
#column-2 dt {
    background:url(img/str-vert.png);
    padding:10px;
    margin-bottom:6px; }
#column-2 dt > * {
    display:block;
    width:100%;
    height:100%;
    background:white; }

/* teaser */
#teaser-main h3 { margin-top:0; }
#teaser-main { margin-bottom:12px; }



/* LIVESEARCH */

#LSResult {
    background:none;
    margin:-1.5em 0 0;
    position:absolute;
    right:0; 
    top:30px;
    z-index:10; }
#LSResult fieldset {
    background:white;
    border:6px solid #FBD62A; 
    padding:1em 0 0; }
fieldset, .editionComment {
    margin:0; }
#livesearchLegend {
    margin:-5px 0 0 -6px;
    background-color:white;
    border:6px solid #FBD62A; 
    padding:0.3em;
    color:black;
    font-weight:bold; }
#LSResult .LSDescr {
    font-size: 85%;
    color:black; }
.LSRow,
#LSNothingFound {
    display: block;
    padding: 0.5em 1em;
    white-space: normal;
    width:28em; }
.LSHighlight {
    background:red; }


/* portlet static "mach mit" */

.portlet-static-mach-mit dt { display:none; }
.portlet-static-mach-mit dd p a { color:black !important; }
.portlet-static-mach-mit dd p {
    padding:5px;
    background-repeat:repeat;
    display:block;
    margin:0 0 6px 0; 
    font-weight:bold;
    font-size:20px;
    line-height:24px;
    text-transform:uppercase; }
.portlet-static-mach-mit dd p { background-image:url(img/str-quer-spiegel.png); }
.portlet-static-mach-mit dd p+p { background-image:url(img/str-vert.png); }
.portlet-static-mach-mit dd p+p+p { background-image:url(img/pkt.png); }
.portlet-static-mach-mit dd p+p+p+p { background-image:url(img/str-quer.png); }
.portlet-static-mach-mit dd p+p+p+p+p { background-image:url(img/str-vert.png); }
.portlet-static-mach-mit dd p+p+p+p+p+p { background-image:url(img/str-quer-spiegel.png); }
.portlet-static-mach-mit dd p+p+p+p+p+p+p { background-image:url(img/pkt.png); }
.portlet-static-mach-mit dd p+p+p+p+p+p+p+p { background-image:url(img/str-vert.png); }
.portlet-static-mach-mit dd p+p+p+p+p+p+p+p+p { background-image:url(img/str-quer.png); }
.portlet-static-mach-mit dd p+p+p+p+p+p+p+p+p+p { background-image:url(img/str-quer-spiegel.png); }
.portlet-static-mach-mit dd p+p+p+p+p+p+p+p+p+p+p { background-image:url(img/str-vert.png); }


/* text shadows */
#metamenu .currentLanguage a, 
ul#navigation ul li a.navTreeCurrentItem, 
ul#navigation ul li a.navTreeItemInPath, 
#column-1 .navTreeCurrentItem,
.text_shadow_1 {
    text-shadow:
        -1px 0px 0px #FBD62A,
        1px 0px 0px #FBD62A,
        0px -1px 0px #FBD62A,
        0px 1px 0px #FBD62A,
        -1px 1px 0px #FBD62A,
        1px -1px 0px #FBD62A,
        -1px -1px 0px #FBD62A,
        1px 1px 0px #FBD62A;
    /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow:
        -1px 0px 0px #FBD62A,
        1px 0px 0px #FBD62A,
        0px -1px 0px #FBD62A,
        0px 1px 0px #FBD62A,
        -1px 1px 0px #FBD62A,
        1px -1px 0px #FBD62A,
        -1px -1px 0px #FBD62A,
        1px 1px 0px #FBD62A;
    -webkit-text-shadow:
        -1px 0px 0px #FBD62A,
        1px 0px 0px #FBD62A,
        0px -1px 0px #FBD62A,
        0px 1px 0px #FBD62A,
        -1px 1px 0px #FBD62A,
        1px -1px 0px #FBD62A,
        -1px -1px 0px #FBD62A,
        1px 1px 0px #FBD62A; }

a:hover,
.text_shadow_1_grey {
    text-shadow:
        -1px 0px 0px #BBB,
        1px 0px 0px #BBB,
        0px -1px 0px #BBB,
        0px 1px 0px #BBB,
        -1px 1px 0px #BBB,
        1px -1px 0px #BBB,
        -1px -1px 0px #BBB,
        1px 1px 0px #BBB;
    /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow:
        -1px 0px 0px #BBB,
        1px 0px 0px #BBB,
        0px -1px 0px #BBB,
        0px 1px 0px #BBB,
        -1px 1px 0px #BBB,
        1px -1px 0px #BBB,
        -1px -1px 0px #BBB,
        1px 1px 0px #BBB;
    -webkit-text-shadow:
        -1px 0px 0px #BBB,
        1px 0px 0px #BBB,
        0px -1px 0px #BBB,
        0px 1px 0px #BBB,
        -1px 1px 0px #BBB,
        1px -1px 0px #BBB,
        -1px -1px 0px #BBB,
        1px 1px 0px #BBB; }
    
#column-main h1,
.text_shadow_2 {
    text-shadow:
        -2px 0px 0px #FBD62A,
        2px 0px 0px #FBD62A,
        0px -2px 0px #FBD62A,
        0px 2px 0px #FBD62A,
        -2px 2px 0px #FBD62A,
        2px -2px 0px #FBD62A,
        -2px -2px 0px #FBD62A,
        2px 2px 0px #FBD62A;
    /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow:
        -2px 0px 0px #FBD62A,
        2px 0px 0px #FBD62A,
        0px -2px 0px #FBD62A,
        0px 2px 0px #FBD62A,
        -2px 2px 0px #FBD62A,
        2px -2px 0px #FBD62A,
        -2px -2px 0px #FBD62A,
        2px 2px 0px #FBD62A;
    -webkit-text-shadow:
        -2px 0px 0px #FBD62A,
        2px 0px 0px #FBD62A,
        0px -2px 0px #FBD62A,
        0px 2px 0px #FBD62A,
        -2px 2px 0px #FBD62A,
        2px -2px 0px #FBD62A,
        -2px -2px 0px #FBD62A,
        2px 2px 0px #FBD62A; }

ul#navigation > li > a,
.portlet-static-mach-mit dd p a:hover,
.text_shadow_3 {
    text-shadow:
        -3px 0px 0px #FBD62A,
        3px 0px 0px #FBD62A,
        0px -3px 0px #FBD62A,
        0px 3px 0px #FBD62A,
        -3px 3px 0px #FBD62A,
        3px -3px 0px #FBD62A,
        -3px -3px 0px #FBD62A,
        3px 3px 0px #FBD62A;
    /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow:
        -3px 0px 0px #FBD62A,
        3px 0px 0px #FBD62A,
        0px -3px 0px #FBD62A,
        0px 3px 0px #FBD62A,
        -3px 3px 0px #FBD62A,
        3px -3px 0px #FBD62A,
        -3px -3px 0px #FBD62A,
        3px 3px 0px #FBD62A;
    -webkit-text-shadow:
        -3px 0px 0px #FBD62A,
        3px 0px 0px #FBD62A,
        0px -3px 0px #FBD62A,
        0px 3px 0px #FBD62A,
        -3px 3px 0px #FBD62A,
        3px -3px 0px #FBD62A,
        -3px -3px 0px #FBD62A,
        3px 3px 0px #FBD62A; }

.portlet-static-mach-mit dd p,
.text_shadow_3_white {
    text-shadow:
        -3px 0px 0px white,
        3px 0px 0px white,
        0px -3px 0px white,
        0px 3px 0px white,
        -3px 3px 0px white,
        3px -3px 0px white,
        -3px -3px 0px white,
        3px 3px 0px white;
    /* horizontal-offset vertical-offset 'blur' colour */
    -moz-text-shadow:
        -3px 0px 0px white,
        3px 0px 0px white,
        0px -3px 0px white,
        0px 3px 0px white,
        -3px 3px 0px white,
        3px -3px 0px white,
        -3px -3px 0px white,
        3px 3px 0px white;
    -webkit-text-shadow:
        -3px 0px 0px white,
        3px 0px 0px white,
        0px -3px 0px white,
        0px 3px 0px white,
        -3px 3px 0px white,
        3px -3px 0px white,
        -3px -3px 0px white,
        3px 3px 0px white; }

/* program */
.p-format-experimentell { background-color:#A9C03E; }
.p-format-feature-magazin { background-color:#E54748; }
.p-format-horspiel-literatur { background-color:#C97485; }
.p-format-musiksendung { background-color:#F9A937; }
.p-format-talk { background-color:#FAE24F; }
.p-format-unmoderiertes-musikprogramm { background-color:#ECD4AD; }
.p-format-vortrag-diskussion { background-color:#A57397; }
